.note-container {
  height: 100%;
  padding-left: 30px;
}

.note-container h2 {
  margin-bottom: 20px;
  text-decoration: underline;
}

.heading{
  text-decoration: solid;
  font-size: 37px;
  justify-content: space-between;
  align-items: center;
}

.note-container_notes {
  padding-top: 30px;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow-y: scroll;
}
